* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 120px;
    z-index: -1;
    position: relative;
    overflow: hidden; 
    /*color: white;*/
    color: #002147;
}

h1:before, h1:after {
    content: "";
    width: 25%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 75%;
    overflow: hidden;
}

h1:before {
    margin-left: -25%;
    text-align: right;
}

h2{
    text-align: center;
    font-family: 'Candara', cursive;
    font-size: 35px;
    /*color: white;*/
    color: green;
}

.container {
    text-align: center;
}

li {
    width: 500px;
    height: 600px;
}

p {
    font-size: 20px;    
    font-family: 'Candara', cursive;
    margin-left: 5%;
    margin-right: 5%;
    /*text-align: left;*/
    text-align: center;
    color: #002147;
    /*color: white;*/
}

#all_skills_image {
    display: inline;
    /*  margin: 20px;
        font-size: 20px;*/
}

li {
    display: list-item;
}

ul {
    list-style-type: disc;
}

a {
    text-decoration: none;
    /*font-family: 'Raleway', sans-serif;*/
}

.center, .centerm, .center-align, .img-top{
    text-align: center;
}

html {
    font-size: 14px;
    line-height: 1;
}


div {
    display: block;
}

h1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    padding-top: 75px;
    /*padding-bottom: 50px;*/
    min-height: 0px;
}       
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px 100px 0px 100px;
    border-style: groove;
    border: 10px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
}        

.pic-and-caption, .cardm {
    align-items: center;
}

.center, .centerm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
}

.center:hover, .centerm:hover{
    opacity: 0.3;
    background-color: white;
    align-items: center;
    border-radius: 80px;
}

.cardm {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
    }

.cardm .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.cardm:hover .img-top {
    display: inline;
}

.jobtitle {
    color: #002147;
    text-align: center;
    font: 48px;
}

.myname {
    color: green;
    text-align: center;
    font-size: 20px;
    font-family: "Candara", cursive;
}

#social_media {
     display: inline;
     /*background-color: gray;*/
}

.ch-img-1 {
    position: relative;
    background-image: url(https://lh4.googleusercontent.com/9Difi9bypu9-FoUsfFWpX6odYLLjXQk_q0aPxZBSFynecMOSLoKRKWRWIfZdXRGOdXMZCahrLBG6vWrwIeT-A26iDjTucgFVCP0Fuzr79BHW5kLJ3sw);
    width: 100px;
    height: 100px;
    background-size: 100px;
    display: inline-block;
    z-index: 2;
}
.bioinfo {
    display: none;
    background: rgba(246, 246, 246, 0.8);
    font-size: 10px;
    padding: 10px 20px;
    text-align: justify;
    position: absolute;
    left: 50px;
    margin-top: 20px;
}

#hover-image {
    /*text-align: left !important;*/
    border-radius: 10px;
}

/*sample hover over text*/

#hover-image {
  position: relative;
}

/*.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/


.image {
  /*opacity: 1;*/
  display: block;
  /*width: 100%;*/
  height: auto;
/*  transition: .5s ease;
  backface-visibility: hidden;*/
}

.wholecard {
    background-color: white;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  /*width: 100%;*/
  transition: .5s ease;
  opacity:0;
  color: white;
  /*font-size: 20px;*/
  /*padding: 23px;*/
  text-align: center;
  align-items: center;
  position: center;
}

#hover-image:hover .overlay {
  opacity: 1;
}

/*.text {
  /*background-color: #4CAF50;*/
/*  color: #002147;
  position: absolute;
  text-align: center;

}*/


    .cardm {
        width: 130px;
        height: 195px;
        position: relative;
        display: inline-block;
    }
    .cardm .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .cardm:hover .img-top {
        display: inline;
    }
